include ../_mixins/mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Title
    link(href="/css/index.css", rel="stylesheet")
  body
    .wrapper
      block content
    script(src="/js/app.js")